
.pagination{ 
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 0px;
 }
@media (max-width:800px){
    .pagination{
        justify-content: center;
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 35px;
    }
}